body {
  background:#0b0f1a;
  color:#fff;
  font-family:Arial;
  text-align:center;
}

.top {
  padding:15px;
  background:#000;
  font-size:22px;
}

.banner {
  margin:10px;
  background:green;
  padding:10px;
  border-radius:5px;
}

.balance {
  font-size:20px;
  margin:15px;
}

button {
  padding:10px 15px;
  margin:5px;
  font-size:16px;
  border:none;
  border-radius:5px;
}

.games button { background:#222; color:#fff; }
.wallet button { background:#0066ff; color:#fff; }
.admin { margin-top:20px; }
